<main [style.padding]="'16px'">

  <h1>Meus sites Favoritos</h1>
  <p>Essa é a minha galeria de sites favoritos.</p>

  <mat-grid-list
    gutterSize="16px"
    [cols]="(umaColuna$ | async) ? 1 : (duasColunas$ | async) ? 2 : 4"
    >

    @for(favorito of favoritos$ | async; track $index) {
      <mat-grid-tile  [style.background]="'#00000020'"
      [style.border-radius]="'8px'">
        <mat-card class="favorito-card">
          <div style="text-align:center;">
            <img mat-card-image [src]="favorito.imagem" [alt]="favorito.titulo"
            style="width: 100%;"/>
          </div>
          <mat-card-content>
            <h2>{{ favorito.titulo }}</h2>
            <p>
              {{ favorito.descricao }}
            </p>
            <div class="acoes">
              <a mat-button [href]="favorito.url" target="_blank">Visitar</a>
              <a mat-button routerLink="/favorito-edicao/{{ favorito._id }}">Editar</a>
            </div>
          </mat-card-content>

        </mat-card>
      </mat-grid-tile>
    }
  </mat-grid-list>

</main>

